* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Kanit', sans-serif; background: #f0fdf4; }
button { font-family: 'Kanit', sans-serif; }
input, select { font-family: 'Kanit', sans-serif; }
