@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Mali:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-kanit: 'Kanit', sans-serif;
  --font-mali: 'Mali', cursive;
}

body {
  font-family: var(--font-kanit);
  background-color: #F4FBF7; /* เขียวอ่อน พาสเทล */
  color: #164E63;
}

h1, h2, h3, .font-mali {
  font-family: var(--font-mali);
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #ECFDF5;
}
::-webkit-scrollbar-thumb {
  background: #10B981;
  border-radius: 9999px;
}
